*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body{
    background-color: #212121;
    color: white;
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
  }
  
  :disabled{
    cursor: not-allowed;
    opacity: 0.4;
  }
  
  .big{
    font-size: 20px;
  }
  
  .bold{
    font-weight: 900;
  }
  
  .small-top{
    margin-top: 5px;
  }
  
  a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-family: 'Athiti', sans-serif;
  }
  
  input, select,textarea{
    border: none;
    outline: none;
    font-family: 'Athiti', sans-serif;
  }
  
  button{
    outline: none;
    border: none;
    font-family: 'Athiti', sans-serif;
    cursor: pointer;
  }
  